.layout
{
    position: relative;

    height: 76px;
}


.layout__left
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
}


.layout__right
{
    position: relative;

    padding-top: 10px;
    padding-left: 100px;
}

.layout__right
{
    width: 50%;
}
