.layout{
    position: relative;
    height: 76px;
}


.layout__left
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
}


.layout__right
{
    position: relative;
    padding-left: 100px;
    padding-top: 10px;


}

.layout__right{
    width: 50%;
}


