.settings-list .label
{
    display: inline-block;

    min-width: 150px;
}
.settings-list__about-me .label
{
    vertical-align: top;
}
.settings-list input
{
    max-width: 245px;
    margin-bottom: 10px;
}
