.view-profile .avatar,
.view-profile__userInfo
{
    display: inline-block;
    vertical-align: top;
}
.view-profile__userInfo
{
    width: 80%;
    margin-left: 5px;
}
.view-profile__name
{
    font-weight: bold;
}
.view-profile__nick
{
    color: #333;
    font-size: 11pt;
}
.view-profile__follow,
.view-profile__subscribers
{
    display: inline-block;
    margin: 15px 5px;
}
.view-profile__follow:after
{
    content: ' | ';
    margin-left: 5px;
}
.view-profile__description
{
    padding: 10px;
}
