.header-hamburger-menu {
  position: absolute;
  top: 10px;
  right: 0;
}

.header-hamburger-menu__label {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-weight: 300;
  color: #fff;
}
.header-hamburger-menu__label:before {
  content: '=';
  text-align: center;
  width: 50px;
  display: block;
  line-height: 50px;
  font-size: 60px;
}
.header-hamburger-menu__checkbox {
  display: none;
}
.header-hamburger-menu__checkbox:checked ~ .header-hamburger-menu__label {

}
.header-hamburger-menu__checkbox:checked ~ .header-hamburger-menu__label:before {
  content: '×';
}
.header-hamburger-menu__checkbox:checked ~ .dropdown-menu {
  display: block;
}
.header-hamburger-menu .dropdown-menu {
  display: none;
  background-color: rgba(255,255,255,.97);
  color: #fff;
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  margin: 0;
}

.header-hamburger-menu .dropdown-menu__item {
  margin: 16px 0 16px 0
}

.header-hamburger-menu .dropdown-menu__link {
  display: block;
  color: #000;
  text-decoration: none;
}
