.search-icon
{
    position: absolute;
    top: 26px;
    right: 2px;

    width: 17px;
    height: 17px;

    cursor: pointer;

    fill: none;
    stroke: rgba(151, 151, 151, 1);
    stroke-width: 2;
    background: none;
    border: none;
}
.search-icon > svg{
    width: 17px;
}


.search-icon:focus{
    outline: none;
}
.search-icon > svg:focus{
    outline: none;
}

