.search-icon
{
    position: absolute;
    top: 20px;
    right: 0;

    width: 17px;
    height: 17px;

    cursor: pointer;

    fill: none;
    stroke: rgba(151, 151, 151, 1);
    stroke-width: 2;
}
