.search-icon
{
    position: absolute;
    top: 25px;
    right: 2px;

    width: 17px;
    height: 17px;

    cursor: pointer;

    fill: none;
    stroke: rgba(151, 151, 151, 1);
    stroke-width: 2;
}
.search-icon > svg{
    width: 17px;
}

