.addSeed
{
    padding: 5px;
    box-sizing: border-box;
}
.addSeed .textarea
{
    height: 6em;
    margin-bottom: 0.5em;
    border: none;
}

.addSeed .attach
{
    float: left;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.addSeed .button
{
    float: right;
}

.addSeed .attach .attach__file {
    display: none;
}

.addSeed .attach__text {
    max-width:calc(100vw - 32px);
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: inline-block;
}
.addSeed .preview {
    position: relative;
    width: 100%;
    text-align: center;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
}
.addSeed .preview__image
{
    width: 100%;
}
.addSeed .preview__clear
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 18pt;
}
