.addSeed
{
    box-sizing: border-box;
    padding: 5px;
}
.addSeed .textarea
{
    height: 6em;
    margin-bottom: .5em;

    border: none;
}

.addSeed .attach
{
    float: left;
    overflow: hidden;

        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.addSeed .button
{
    float: right;
}

.addSeed .attach .attach__file
{
    display: none;
}

.addSeed .attach__text
{
    display: inline-block;
    overflow: hidden;

    max-width: calc(100vw - 32px);

    vertical-align: middle;
        text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
.addSeed .media
{
    position: relative;

    overflow: hidden;

    width: 100%;
    max-height: 300px;
    margin-bottom: 10px;

    text-align: center;
}
.addSeed .media .preview-img__clear
{
    font-size: 18pt;

    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;

    color: #fff;
    border-radius: 50%;
    background: #000;
}
