.seed-list-item
{
    position: relative;

    display: flex;

    width: 100%;
    max-width: 600px;
    margin: 10px auto;

    border-bottom: 1px solid #979797;
}

.seed-list-item .profile
{
    border: none;
}

.seed-list-item .profile__link
{
    min-height: inherit;
}
.seed-list-item .profile .avatar
{
    float: left;
}

.seed-list-item__reply
{
    color: #0084b4;
}

.seed-list-item__item
{
    width: 100%;
}

.seed-list-item__item .link
{
    text-decoration: none;
    color: inherit;
}

.link__msg
{
    padding: 5px 5px;

    color: #565656;
}


.seed-list-item__item .seed-list-item__seed-link .image
{
    width: calc(100% - 6px);
    margin: 0 3px;

    border-radius: 10px;
}

.seed-list-item .seed-list-item__answer,
.seed-list-item .seed-list-item__reply
{
    float: right;
    margin: 5px;
}

.seed-list-item__date
{
    font-size: 10pt;
    color: #657786;
}
