.input__control
{
    font-family: 'Comic Sans MS';
    font-size: 14px;
    font-weight: 300;

    position: relative;

    width: 100%;
    height: 30px;
    padding-left: 10px;

    color: #565656;
    border: 2px solid #979797;
    border-radius: 9px;
}
.input__notification .notification
{
    position: relative;

    display: block;

    white-space: nowrap;

    background: #fff;
}
